body {
  background-color: #ffffeb;
}

.btn-order-menu {
  position: fixed;
  top: 100px;
  right: 20px;
  text-decoration: none;
}

.menu-cards-container {
  max-width: 1100px;
  padding: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1.5rem;
}

.menu-card {
  width: 100%;
}

.menu-card-image {
  height: 220px;
  object-fit: cover;
}

.filter-container {
  margin: 30px 0 30px 24px;
  font-weight: bold;
  color: #6e0e0a;
  font-size: 1rem;
}

select {
  background-color: #ffffff;
  padding: 8px 12px;
  margin-left: 10px;
  border: 1px solid #a3140f;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #a3140f;
}

@media (min-width: 601px) and (max-width: 910px) {
  .menu-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .menu-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
