.order-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.order-cart-main-container {
  width: 100%;
  margin: 15px auto;
  padding: 10px 5px 10px 15px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  background: #f4f4d7;
}

.order-cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  color: #124e78;
  border-bottom: 1px solid #d8d8d8;
}

.cart-item-name {
  width: 180px;
}

.inc-dec-container {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin: 0 15px;
  color: #000;
}

.btn-inc-dec {
  padding: 6px;
  font-size: 1.1rem;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-price {
  text-align: end;
  width: 50px;
  margin-right: 5px;
}

.delete-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: block;
}

.delete-icon:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  filter: drop-shadow(0 0 1px red);
}

.cart-total-container {
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 20px;
  color: #bb1711;
}
.empty-cart-heading {
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
}

.empty-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empty-cart img {
  width: 250px;
}

.empty-cart p {
  width: 400px;
  font-size: 2rem;
  color: #25d366;
  text-align: center;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.required-sign {
  color: red;
}

.order-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bb1711;
}

.order-main-img-container {
  width: 400px;
}

.eating-img {
  width: 100%;
  display: block;
  filter: drop-shadow(0 15px 10px #ccc);
}

.order-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 1px 5px 20px rgb(110, 14, 10, 0.2);
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
}

.order-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-input-section label {
  font-weight: bold;
}

.order-input-section input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #d21a14;
}

.order-input-section textarea {
  padding: 7px 15px;
  line-height: 3;
  border-radius: 5px;
  border: 1px solid #d21a14;
  max-width: 100%;
}

@media (max-width: 992px) {
  .order-form-container {
    flex-direction: column;
  }
  .order-main-img-container {
    width: 300px;
    margin: 20px;
  }

  .order-cart-main-container {
    max-width: 600px;
    margin: 20px auto;
  }

  .delete-icon {
    width: 32px;
    height: 32px;
  }

  .empty-cart-heading {
    font-size: 1rem;
  }

  .empty-cart img {
    width: 180px;
  }

  .empty-cart p {
    width: 400px;
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .order-cart-container {
    font-size: small;
  }

  .order-form {
    padding: 20px;
  }
  .order-main-img-container {
    width: 250px;
  }

  .delete-icon {
    width: 30px;
    height: 30px;
  }

  .cart-total-container {
    font-size: 1rem;
  }

  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .empty-cart p {
    width: 100%;
    font-size: 1.2rem;
    padding-right: 10px;
  }
}
