.review-main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}

#review-form {
  width: 450px;
  margin: 40px;
  padding: 25px;
  padding-right: 0%;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 8px 20px #ccc;
  margin-left: 120px;
}

.review-form-header {
  margin-bottom: 30px;
  align-items: center;
  display: inline-flex;
  margin: 10px auto;
  margin-left: 23%;
  color: #124e78;
}

.review-icon {
  height: 40px;
  vertical-align: middle;
}

form label {
  font-weight: 600;
  display: block;
  margin: 6px;
  color: #d74e09;
}

.name-input {
  width: 90%;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
  border-color: #d74e09;
}

.meal-review {
  width: 90%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
  border-color: #d74e09;
}

.star-rating {
  display: flex;
  font-size: 15px;
  margin: 10px 0;
  color: #ccc;
  cursor: pointer;
  justify-content: space-between;
}

.stars-img {
  width: 15%;
  margin: 5px;
  filter: drop-shadow(1px 1px 1px #102e50);
}

.main-img {
  width: 500px;
  max-width: 100%;
  height: auto;
  margin-top: 70px;
}

.btn {
  width: 90%;
}

.filter-select-name {
  margin-left: 20px;
}

#filter-select {
  margin: 10px auto;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9; 
  border: 1px solid #ccc;
  border-color: #d74e09;
}

.sub-heading {
  text-align: center;
  color: #124e78;
}

#review-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.review-card {
  position: relative;
  text-align: center;
  padding-top: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}

.profile-wrapper {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-icon {
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
  border: 1px solid #d74e09;
}

.review-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  border: 1px solid #d74e09;
}

.review-card h3 {
  text-align: center;
  margin-top: 0;
  color: #d74e09;
}

.review-card p {
  margin: 8px 0;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 100px) and (max-width: 900px) {
  #review-form {
    width: 100%;
    margin: 20px auto;
  }

  .review-form-header{
    font-size: 14px;
  }

  .review-icon {
  height: 30px;
  }

  .stars-img {
    width: 13%;
    margin: 2px;
  }

  #review-container{
    margin: 20px;
  }
}
