* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ffffeb;
}

nav {
  background: #d74e09;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 10px rgb(215, 78, 9, 0.4);
  padding: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
}

.brand-name-container a {
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-right: 10px;
  width: 35px;
}

.btn {
  padding: 10px 24px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: none;
}

.btn-primary {
  background: #1e81c8;
  color: #fff;
}

.btn-primary:hover {
  background: #124e78;
}

.btn-secondary {
  background: #25d366;
  color: #000;
  box-shadow: 1px 2px 3px #bebebe;
}

.btn-secondary:hover {
  background: #19aa4e;
}

.brand-name {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.nav-items-container {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.nav-items-container ul:last-child {
  display: none;
}

.nav-items {
  position: relative;
}

.nav-items:hover::after {
  width: 100%;
}

.nav-items::after {
  width: 0%;
  border-bottom: 2px solid #ffffff;
  content: "";
  padding-bottom: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-item-selected {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
}

.nav-login-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  width: 75px;
}

.login-icon {
  margin-right: 7px;
}

.hamburger-menu {
  font-size: 1.5rem;
  display: none;
}

.hidden-nav-items-conatiner {
  max-width: 940px;
  display: flex;
  background: #f4f4d7;
  margin: 20px auto 0;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
  display: none;
}

.nav-items-hidden {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.nav-items-hidden a {
  text-decoration: none;
  color: #d74e09;
}

/* Card */

.menu-card {
  width: 300px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgb(102, 102, 102, 0.3);
  transition: all 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgb(215, 78, 9, 0.2);
}

.menu-card-image {
  width: 100%;
  display: block;
}

.menu-card-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

.menu-card-heading {
  color: #d74e09;
  font-size: 1.3rem;
}

.item-desc {
  color: #d74e09;
}

.item-price {
  color: #1e81c8;
  font-size: 1.2rem;
  font-weight: bold;
}

.price-btn-container {
  display: flex;
  justify-content: space-between;
}

/*FOOTER*/

.footer {
  background-color: #d74e09;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 0 10px rgb(215, 78, 9, 0.4);
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h3 {
  border-bottom: 2px solid #fff;
}

.footer-section:nth-child(1) h3 {
  font-size: 2rem;
  border: none;
}

.header-third {
  font-family: "Quicksand", sans-serif;
}

.footer-section:nth-child(1) {
  max-width: 400px;
  text-align: start;
  align-items: start;
}

.footer-section:nth-child(2) {
  width: 150px;
}

.footer-section:nth-child(3) {
  width: 200px;
}

.footer-section:nth-child(4) {
  width: 300px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.header-third {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9em;
  line-height: 1.6;
}

.list {
  list-style: none;
  padding: 0;
  text-align: left;
  width: max-content;
}

.list-footer {
  margin: 8px 0;
}

.list-footer a {
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.list-footer a:hover {
  color: #dbdbdb;
  transform: scale(1.1);
}

.social-icons a {
  font-size: 1.5em;
  margin: 0 10px;
  display: inline-block;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 10px;
}

.contact-link {
  transition: all 0.3s ease-in-out;
}

.contact-link:hover {
  color: #dbdbdb;
}

#top-arrow {
  position: fixed;
  bottom: 30px;
  right: 5px;
  width: 50px;
  filter: brightness(1) invert(1) drop-shadow(0 0 5px #000);
  opacity: 0.7;
  cursor: pointer;
  display: none;
}

@media (max-width: 1110px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section:nth-child(1) {
    text-align: center;
  }

  .footer-section h3 {
    margin: 0 auto 15px;
  }

  .footer-section:nth-child(4) {
    width: 190px;
  }
}

@media (max-width: 992px) {
  .nav-items-container {
    display: none;
  }

  .nav-login-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 400px) {
  .brand-name {
    font-size: 1.9rem;
  }

  #top-arrow {
    right: 5px;
    width: 40px;
  }
}
