* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background: #d74e09;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
  flex-wrap: wrap;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
}

.brand-name-container a {
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-right: 10px;
  width: 35px;
}

.brand-name {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.nav-items-container {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.nav-items {
  position: relative;
}

.nav-items:hover::after {
  width: 100%;
}

.nav-items::after {
  width: 0%;
  border-bottom: 2px solid #ffffff;
  content: "";
  padding-bottom: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-item-selected {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
}

.nav-login-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  width: 75px;
}

.login-icon {
  margin-right: 7px;
}

.hamburger-menu {
  font-size: 1.5rem;
  display: none;
}

/* Card */

.menu-card {
  width: 300px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 5px 15px rgb(204, 204, 204, 0.4);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.menu-card:hover {
  box-shadow: 0 5px 15px rgb(204, 204, 204, 0.7);
}

.menu-card-image {
  width: 100%;
  display: block;
}

.menu-card-devider {
  width: 100%;
  height: 4px;
  background: #d74e09;
}

.menu-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.menu-card-heading {
  color: #6e0e0a;
}

.price-btn-container {
  display: flex;
  justify-content: space-between;
}

/*FOOTER*/

.footer {
  background-color: #f2bb05;
  color: #124e78;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  width: 250px;
  margin-bottom: 20px;
}

.header-third {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: #124e78;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9em;
  line-height: 1.6;
}

.list {
  list-style: none;
  padding: 0;
  margin-left: 75px;
  text-align: left;
  width: max-content;
}

.list-footer {
  margin: 8px 0;
}

.list-footer a {
  color: #124e78;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.list-footer a:hover {
  color: #124e78;
  font-weight: bold;
}

.social-icons a {
  font-size: 1.5em;
  color: #124e78;
  margin: 0 10px;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  padding: 15px 0;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 16px;
  margin: 0;
}

.contact-link {
  text-decoration: none;
  color: #124e78;
}

.contact-link:hover {
  color: #124e78;
  font-weight: bold;
}

@media (max-width: 992px) {
  .nav-items-container {
    display: none;
  }

  .nav-login-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
