* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  background: #d74e09;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
  flex-wrap: wrap;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
}

.brand-name-container a {
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-right: 10px;
  width: 35px;
}

.brand-name {
  font-size: 1.5rem;
}

.nav-items-container {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.nav-items {
  position: relative;
}

.nav-items:hover::after {
  width: 100%;
}

.nav-items::after {
  width: 0%;
  border-bottom: 2px solid #ffffff;
  content: "";
  padding-bottom: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-item-selected {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
}

.nav-login-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  width: 75px;
}

.login-icon {
  margin-right: 7px;
}

.hamburger-menu {
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 992px) {
  .nav-items-container {
    display: none;
  }

  .nav-login-container {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
